<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>UTF8Filter</filter-name>
    <filter-class>com.vdong.commons.filter.CharsetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UTF8Filter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UTF8Filter</filter-name>
    <url-pattern>*.*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UTF8Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:**/spring-config.xml</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.properties</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>SpringMVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpringMVC</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <filter>
    <filter-name>SystemFilter</filter-name>
    <filter-class>com.vdong.commons.filter.SystemFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SystemFilter</filter-name>
    <url-pattern>/werchat/toMain.html</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.vdong.action.LoginAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAdminAction</servlet-name>
    <servlet-class>com.vdong.action.AddAdminAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelAdminAction</servlet-name>
    <servlet-class>com.vdong.action.DelAdminAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModAdminAction</servlet-name>
    <servlet-class>com.vdong.action.ModAdminAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUserAction</servlet-name>
    <servlet-class>com.vdong.action.AddUserAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelUserAction</servlet-name>
    <servlet-class>com.vdong.action.DelUserAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModUserAction</servlet-name>
    <servlet-class>com.vdong.action.ModUserAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNewsAction</servlet-name>
    <servlet-class>com.vdong.action.AddNewsAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelNewsAction</servlet-name>
    <servlet-class>com.vdong.action.DelNewsAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModNewsAction</servlet-name>
    <servlet-class>com.vdong.action.ModNewsAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMsgAction</servlet-name>
    <servlet-class>com.vdong.action.AddMsgAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelMsgAction</servlet-name>
    <servlet-class>com.vdong.action.DelMsgAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserRegAction</servlet-name>
    <servlet-class>com.vdong.action.UserRegAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLogAction</servlet-name>
    <servlet-class>com.vdong.action.UserLogAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>YudingAction</servlet-name>
    <servlet-class>com.vdong.action.YudingAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReplyMsgAction</servlet-name>
    <servlet-class>com.vdong.action.ReplyMsgAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModJingAction</servlet-name>
    <servlet-class>com.vdong.action.ModJingAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelDingAction</servlet-name>
    <servlet-class>com.vdong.action.DelDingAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDingAction</servlet-name>
    <url-pattern>/DelDingAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>YudingJiuAction</servlet-name>
    <servlet-class>com.vdong.action.YudingJiuAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModUserFrAction</servlet-name>
    <servlet-class>com.vdong.action.ModUserFrAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModUserFrAction</servlet-name>
    <url-pattern>/ModUserFrAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YudingJiuAction</servlet-name>
    <url-pattern>/YudingJiuAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplyMsgAction</servlet-name>
    <url-pattern>/ReplyMsgAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegAction</servlet-name>
    <url-pattern>/UserRegAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAdminAction</servlet-name>
    <url-pattern>/AddAdminAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelAdminAction</servlet-name>
    <url-pattern>/DelAdminAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModAdminAction</servlet-name>
    <url-pattern>/ModAdminAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserAction</servlet-name>
    <url-pattern>/AddUserAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelUserAction</servlet-name>
    <url-pattern>/DelUserAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModUserAction</servlet-name>
    <url-pattern>/ModUserAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewsAction</servlet-name>
    <url-pattern>/AddNewsAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelNewsAction</servlet-name>
    <url-pattern>/DelNewsAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModNewsAction</servlet-name>
    <url-pattern>/ModNewsAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMsgAction</servlet-name>
    <url-pattern>/AddMsgAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelMsgAction</servlet-name>
    <url-pattern>/DelMsgAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogAction</servlet-name>
    <url-pattern>/UserLogAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YudingAction</servlet-name>
    <url-pattern>/YudingAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddKefangAction</servlet-name>
    <servlet-class>com.vdong.action.AddKefangAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelKefangAction</servlet-name>
    <servlet-class>com.vdong.action.DelKefangAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModKefangAction</servlet-name>
    <servlet-class>com.vdong.action.ModKefangAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddKefangAction</servlet-name>
    <url-pattern>/AddKefangAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModKefangAction</servlet-name>
    <url-pattern>/ModKefangAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelKefangAction</servlet-name>
    <url-pattern>/DelKefangAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelJiuAction</servlet-name>
    <servlet-class>com.vdong.action.DelJiuAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelJiuAction</servlet-name>
    <url-pattern>/DelJiuAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPingjiaAction</servlet-name>
    <servlet-class>com.vdong.action.AddPingjiaAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPingjiaAction</servlet-name>
    <url-pattern>/AddPingjiaAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelSearchAction</servlet-name>
    <servlet-class>com.vdong.action.HotelSearchAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelSearchAction</servlet-name>
    <url-pattern>/HotelSearchAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddKindAction</servlet-name>
    <servlet-class>com.vdong.action.AddKindAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddKindAction</servlet-name>
    <url-pattern>/AddKindAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModKindAction</servlet-name>
    <servlet-class>com.vdong.action.ModKindAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModKindAction</servlet-name>
    <url-pattern>/ModKindAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelKindAction</servlet-name>
    <servlet-class>com.vdong.action.DelKindAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelKindAction</servlet-name>
    <url-pattern>/DelKindAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddHotelAction</servlet-name>
    <servlet-class>com.vdong.action.AddHotelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHotelAction</servlet-name>
    <url-pattern>/AddHotelAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModHotelAction</servlet-name>
    <servlet-class>com.vdong.action.ModHotelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModHotelAction</servlet-name>
    <url-pattern>/ModHotelAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelHotelAction</servlet-name>
    <servlet-class>com.vdong.action.DelHotelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelHotelAction</servlet-name>
    <url-pattern>/DelHotelAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlterWelcomeAction</servlet-name>
    <servlet-class>com.vdong.action.AlterWelcomeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterWelcomeAction</servlet-name>
    <url-pattern>/AlterWelcomeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelWelcomeAction</servlet-name>
    <servlet-class>com.vdong.action.HotelWelcomeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelWelcomeAction</servlet-name>
    <url-pattern>/HotelWelcomeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelSearchOrderAction</servlet-name>
    <servlet-class>com.vdong.action.HotelSearchOrderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelSearchOrderAction</servlet-name>
    <url-pattern>/HotelSearchOrderAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelAddOrderAction</servlet-name>
    <servlet-class>com.vdong.action.HotelAddOrderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelAddOrderAction</servlet-name>
    <url-pattern>/HotelAddOrderAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelAlterOrderAction</servlet-name>
    <servlet-class>com.vdong.action.HotelAlterOrderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelAlterOrderAction</servlet-name>
    <url-pattern>/HotelAlterOrderAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelCancelOrderAction</servlet-name>
    <servlet-class>com.vdong.action.HotelCancelOrderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelCancelOrderAction</servlet-name>
    <url-pattern>/HotelCancelOrderAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelSearchByCatAction</servlet-name>
    <servlet-class>com.vdong.action.HotelSearchByCatAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelSearchByCatAction</servlet-name>
    <url-pattern>/HotelSearchByCatAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelBecomeOwnerAction</servlet-name>
    <servlet-class>com.vdong.action.HotelBecomeOwnerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelBecomeOwnerAction</servlet-name>
    <url-pattern>/HotelBecomeOwnerAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelCheckVirtualCoinAction</servlet-name>
    <servlet-class>com.vdong.action.HotelCheckVirtualCoinAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelCheckVirtualCoinAction</servlet-name>
    <url-pattern>/HotelCheckVirtualCoinAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelGiveVirtualCoinAction</servlet-name>
    <servlet-class>com.vdong.action.HotelGiveVirtualCoinAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelGiveVirtualCoinAction</servlet-name>
    <url-pattern>/HotelGiveVirtualCoinAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelReceiveVirtualCoinAction</servlet-name>
    <servlet-class>com.vdong.action.HotelReceiveVirtualCoinAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelReceiveVirtualCoinAction</servlet-name>
    <url-pattern>/HotelReceiveVirtualCoinAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelUserInitAction</servlet-name>
    <servlet-class>com.vdong.action.HotelUserInitAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelUserInitAction</servlet-name>
    <url-pattern>/HotelUserInitAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelUserSelectAction</servlet-name>
    <servlet-class>com.vdong.action.HotelUserSelectAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelUserSelectAction</servlet-name>
    <url-pattern>/HotelUserSelectAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TextImageInfoAction</servlet-name>
    <servlet-class>com.vdong.action.TextImageInfoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TextImageInfoAction</servlet-name>
    <url-pattern>/TextImageInfoAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelMessageAction</servlet-name>
    <servlet-class>com.vdong.action.HotelMessageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelMessageAction</servlet-name>
    <url-pattern>/HotelMessageAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelPayAction</servlet-name>
    <servlet-class>com.vdong.action.HotelPayAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelPayAction</servlet-name>
    <url-pattern>/HotelPayAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOwnerAction</servlet-name>
    <servlet-class>com.vdong.action.AddOwnerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOwnerAction</servlet-name>
    <url-pattern>/AddOwnerAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CoinManageAction</servlet-name>
    <servlet-class>com.vdong.action.CoinManageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoinManageAction</servlet-name>
    <url-pattern>/CoinManageAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApproveOwnerAction</servlet-name>
    <servlet-class>com.vdong.action.ApproveOwnerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveOwnerAction</servlet-name>
    <url-pattern>/ApproveOwnerAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelOwnerAction</servlet-name>
    <servlet-class>com.vdong.action.DelOwnerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelOwnerAction</servlet-name>
    <url-pattern>/DelOwnerAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResetCoinAction</servlet-name>
    <servlet-class>com.vdong.action.ResetCoinAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetCoinAction</servlet-name>
    <url-pattern>/ResetCoinAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelSystemAction</servlet-name>
    <servlet-class>com.vdong.action.HotelSystemAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelSystemAction</servlet-name>
    <url-pattern>/HotelSystemAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelOrderAction</servlet-name>
    <servlet-class>com.vdong.action.DelOrderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelOrderAction</servlet-name>
    <url-pattern>/DelOrderAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOrderAction</servlet-name>
    <servlet-class>com.vdong.action.AddOrderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderAction</servlet-name>
    <url-pattern>/AddOrderAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAdvertisementAction</servlet-name>
    <servlet-class>com.vdong.action.AddAdvertisementAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdvertisementAction</servlet-name>
    <url-pattern>/AddAdvertisementAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelAdvertisementAction</servlet-name>
    <servlet-class>com.vdong.action.DelAdvertisementAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelAdvertisementAction</servlet-name>
    <url-pattern>/DelAdvertisementAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModAdvertisementAction</servlet-name>
    <servlet-class>com.vdong.action.ModAdvertisementAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModAdvertisementAction</servlet-name>
    <url-pattern>/ModAdvertisementAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModProductAction</servlet-name>
    <servlet-class>com.vdong.action.ModProductAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModProductAction</servlet-name>
    <url-pattern>/ModProductAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProductAction</servlet-name>
    <servlet-class>com.vdong.action.AddProductAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductAction</servlet-name>
    <url-pattern>/AddProductAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelProductAction</servlet-name>
    <servlet-class>com.vdong.action.DelProductAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelProductAction</servlet-name>
    <url-pattern>/DelProductAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModSupplierKindAction</servlet-name>
    <servlet-class>com.vdong.action.ModSupplierKindAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModSupplierKindAction</servlet-name>
    <url-pattern>/ModSupplierKindAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelSupplierKindAction</servlet-name>
    <servlet-class>com.vdong.action.DelSupplierKindAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelSupplierKindAction</servlet-name>
    <url-pattern>/DelSupplierKindAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSupplierKindAction</servlet-name>
    <servlet-class>com.vdong.action.AddSupplierKindAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSupplierKindAction</servlet-name>
    <url-pattern>/AddSupplierKindAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelPayForWeChatAction</servlet-name>
    <servlet-class>com.vdong.action.HotelPayForWeChatAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelPayForWeChatAction</servlet-name>
    <url-pattern>/HotelPayForWeChatAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HotelBeforePayAction</servlet-name>
    <servlet-class>com.vdong.action.HotelBeforePayAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelBeforePayAction</servlet-name>
    <url-pattern>/HotelBeforePayAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SosoMapAction</servlet-name>
    <servlet-class>com.vdong.action.SosoMapAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SosoMapAction</servlet-name>
    <url-pattern>/SosoMapAction</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>